<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <title> DrinkBuddy </title>
   {{> tracking_code_script}}
	</head>

  <body>
<!-- NAVIGATION BAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a>
            <form id="search-bar" class="navbar-form pull-left" role="search" action="/search">
            <div class="input-group">
               <input name= "input" id="input" type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button id="searchButton" value="Submit" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form>
      
      <ul class="nav navbar-nav navbar-right pull-right" style="padding-right:20px;">
        <li><a href="login.html"> Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- END NAVIGATION BAR -->



<div class="container-fluid square-container center">
      <div><h1 class="MainLogo">DrinkBuddy</h1></div>
      <div><h3 class="ChooseHead">Choose a Recipe:</h3></div>
<br>

<!-- START MENU BOXES-->
      <div class="center" class="row"> 
        {{#each by_what}}
          <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="square-box">
                <a href="/{{link}}">
                  <p style="color:black" style="font-weight: 900" class="mood-name">{{name}}</p>
                  <div class="overlay center">
                    <div class="square-content">
                        <img src="{{image}}" width="134px" height="134px"/>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        {{/each}}
      </div>
</div>
<!-- END MENU BOXES-->

<!-- favorites row-->
      <div class="container button-container">
        <div class"row button-row">
          <div class="col-xs-6 col-md-6 col-lg-6">
            <a href="/favorite" class="btn btn-custom btn-small" style="width:144px; margin-left:-5px">
              <span class="glyphicon glyphicon-heart" aria-hidden="true">    My Favorites</span>
            </a>
          </div>

          <div class="col-xs-6 col-md-6 col-lg-6">
            <a href="/addadrink" class="btn btn-custom btn-small" style="width:144px; margin-left:-5px">
              <span class="glyphicon glyphicon-plus" aria-hidden="true">    Add Drink</span>
            </a>
          </div>
        </div>
      </div><!--container -->

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wTrack.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>


</html>