@font-face {
    font-family: MainLogoFont;
    src: url("C:/COGS120/introHCII/drink_buddy/static/fonts/KaushanScript-Regular.otf") format("opentype");
}

@font-face {
    font-family: ChooseFont;
    src: url("C:/COGS120/introHCII/drink_buddy/static/fonts/Infinity.ttf") format("opentype");
}

@font-face {
    font-family: FrontBoxFont;
    src: url("C:/COGS120/introHCII/drink_buddy/static/fonts/PoiretOne-Regular.ttf") format("opentype");
}

.MainLogo{
    font-family: MainLogoFont;
    font-weight: bold;
    color: #FFFFFF;
}

.ChooseHead{
    font-family: ChooseFont;
    font-weight: bold;
    color: #FFFFFF;
}

body {
    background-image: url("C:/COGS120/introHCII/drink_buddy/static/images/MAIN-Background.jpg");
}

.front {
    background-color: #FFFFFF;
    opacity: 0.8;

    border-style: none;
    width: 200px;
    height: 200px;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

a:link {
    color: #000000;
}

.frontlink{
    font-family: FrontBoxFont;
    font-weight: 500;
    vertical-align: bottom;
    color: #000000;
}

h1, h2, h3 {
	text-align: center;
}

.bottlediv {
    width: 20%;
    height: inherit;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bottledivTitle {
    text-align: center;
    height: 20%;
    line-height: 2;
    font-family: "Forum";
    font-size: 18px;
}

.recommendBox {
    margin-left: 400px;
}