@font-face {
    font-family: MainLogoFont;
    src: url("../fonts/KaushanScript-Regular.otf") format("opentype");
}

@font-face {
    font-family: ChooseFont;
    src: url("../fonts/Infinity.ttf") format("opentype");
}

@font-face {
    font-family: FrontBoxFont;
    src: url("../fonts/PoiretOne-Regular.ttf") format("opentype");
}

.MainLogo{
    font-family: MainLogoFont;
    font-weight: bold;
    color: #FFFFFF;
}

.ChooseHead{
    font-family: ChooseFont;
    font-weight: bold;
    color: #FFFFFF;
}

.jumbotron {
    position: relative;
    background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/moodback.jpg");
     opacity: 0.6;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-repeat: no-repeat; 
     background-position: center;
     background-size: 100%;
     position: absolute;
     z-index: -1;   
}

.jumbotron p{
    font-family: ChooseFont;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    hover: none;
}

/* OLD UNRESPONSIVE IMAGE
.indexbackground {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
*/

.indexbackground{
    background: url("../images/background2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #FFFFFF;
}

.moodbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}


.occasionbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}

/*.OLD frontbox {
    background-color: #FFFFFF;
    opacity: 0.9;

    border-style: none;
    width: 200px;
    height: 200px;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
OLD frontbox end }*/

/*FRONTBOX NEW START*/

/*.frontlink{
    font-family: FrontBoxFont;
    font-weight: 500;
    vertical-align: bottom;
    color: #000000;
}*/

.square-box{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #C0C0C0;
    opacity: 0.9;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000000;
    font-family: FrontBoxFont;
    font-weight: 500;
    font-size: 16pt;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-family: FrontBoxFont;
    font-weight: 500;
}
/*FRONTBOX NEW END*/

a:link {
    color: #000000;
}

h1, h2, h3 {
	text-align: center;
}

.bottlediv {
    width: 20%;
    height: inherit;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bottledivTitle {
    text-align: center;
    height: 20%;
    line-height: 2;
    font-family: "Forum";
    font-size: 18px;
}

.recommendBox {
    margin-left: 400px;
}