@font-face {
    font-family: MainLogoFont;
    src: url("../fonts/BadScript.ttf") format("opentype");
}

@font-face {
    font-family: ChooseFont;
    src: url("../fonts/Infinity.ttf") format("opentype");
}

@font-face {
    font-family: FrontBoxFont;
    src: url("../fonts/PoiretOne-Regular.ttf") format("opentype");
    color:black;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
   }
}


@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

#user {
    text-align: center; 
    font-size:16pt;
    margin-top:90px;
}

.imagerecipe {
    padding-left:0;
}

.MainLogo{
    font-family: MainLogoFont;
    font-weight: bold;
    color: #000000;
}

.ChooseHead{
    font-family: ChooseFont;
    font-weight: bold;
    color: #;
}

.jumbotron {
    position: relative;
    background: none;
    margin: 0px;
}

.jumbotron:after {
     content:"";
     background-image: url("../images/moodback.jpg");
     opacity: 0.7;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-repeat: no-repeat; 
     background-position: center;
     background-size: 100%;
     position: absolute;
     z-index: -1;   
}

.jumbotron p{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-size:15pt;
    hover: none;
}

.paddedTable td {
    padding: 5px;
}
.main {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
    line-height: 20pt;
    color: #000000;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
    -webkit-padding-end:10px;
}

.mixedbase{
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/orange-bliss.png');
    background-size:100% 100%;
    background-color: white;
}

.tequila {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/tequiladrink.jpg');
    background-size:100% 100%;
}

/* End Hard coded boxes */

.indexbackground{
    background: url("") no-repeat center center fixed; 
    background: url("..") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #FFFFFF;
}

.moodbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}

.occasionbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}

.square-container{
    margin-left:-20px;
}

.square-box{
    position: relative;
    float:center;
    display:inline-block;
    width: 144px;
    min-width:100%;
    height: 144px;
    min-height: 100%;
}

div.overlay {
    position:absolute;
    display:block;
    width: 95%;
    height: 95%;
    z-index: 100;
    background:url("../images/black_overlay.png"));
    opacity: 0.6;
    -moz-opacity:0.60;
    zoom:1;
}

img.square-content{
    position:relative;
    z-index:-100;

}

div.square-content {
    position: relative;
    display:table;
    margin-left:-8px;
    margin-top:-8px;
    width: 136px;
    height: 136px;
    min-height:100%;
}

a:link {
    color: #000000;
}

h1, h2, h3, h4 {
	text-align: center;
}

p.mood-name{
    position:absolute;
    padding-top:35px;
    padding-left:5px;
    padding-right:10px;
    text-align: left;
    font-family: FrontBoxFont;
    font-size:16pt;
    z-index:1000;
}

.mood-container{
    padding: 20px 0;
}

.fave_button{
    white-space: normal;
    width: 100px;
}
