@font-face {
    font-family: MainLogoFont;
    src: url("../fonts/KaushanScript-Regular.otf") format("opentype");
}

@font-face {
    font-family: ChooseFont;
    src: url("../fonts/Infinity.ttf") format("opentype");
}

@font-face {
    font-family: FrontBoxFont;
    src: url("../fonts/PoiretOne-Regular.ttf") format("opentype");
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
   }
}


.MainLogo{
    font-family: MainLogoFont;
    font-weight: bold;
    color: #FFFFFF;
}

.ChooseHead{
    font-family: ChooseFont;
    font-weight: bold;
    color: #FFFFFF;
}

.jumbotron {
    position: relative;
    background: none;
    margin: 0px;
}

.jumbotron:after {
     content:"";
     background-image: url("../images/moodback.jpg");
     opacity: 0.7;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-repeat: no-repeat; 
     background-position: center;
     background-size: 100%;
     position: absolute;
     z-index: -1;   
}

.jumbotron p{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-size:15pt;
    hover: none;
}

/* OLD UNRESPONSIVE IMAGE
.indexbackground {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
*/

/* Start Hard coded boxes */
/*.vodka5 {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/midnight-mint.png');
    background-size:100% 100%;
    background-color: white;
}



.rasp  {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/raspberrybellini.png');
    background-size:100% 100%;
}

.cosmo {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/cosmopolitan.jpg');
    background-size:100% 100%;
}


.cranberry {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/cranberryvodka.jpg');
    background-size:100% 100%;
} 


.pears {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/pearsmartini.jpg');
    background-size:100% 100%;
}



.redlady {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/redlady.jpg');
    background-size:100% 100%;
    background-color: white;
}



.mixedbase{
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/orange-bliss.png');
    background-size:100% 100%;
    background-color: white;
}



.tequila {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/tequiladrink.jpg');
    background-size:100% 100%;
}*/
/* End Hard coded boxes */

.indexbackground{
    background: url("../images/background2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #FFFFFF;
}

.moodbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}


.occasionbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}

.frontbox {
    /*background-color: #FFFFFF;*/
    position: relative;
    opacity: 0.9;
    padding:0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
/*    border-style: solid;*/
    border-width: 0px;
    width:60%;
    height: 70%;
}

.frontcontent{
    width:100%;
    height:100%;
/*    border-style: solid;*/
    border-width: 2px;
}

/*@media (max-width:767px) {
    .frontbox {
    opacity: 0.9;
    width:150px;
    height: 250px;
    }
}*/

/*FRONTBOX NEW START*/

/*.frontlink{
    font-family: FrontBoxFont;
    font-weight: 500;
    vertical-align: bottom;
    color: #000000;
}*/


.square-box{
    position: relative;
    width: 60%;
    background: #C0C0C0;
    opacity: 0.9;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000000;
    font-family: FrontBoxFont;
    font-weight: 500;
    font-size: 16pt;
}

#square-image{
    img.resize{
    max-width:20px; /* you can use % */
    height: auto;
}
}

.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-family: FrontBoxFont;
    font-weight: 500;
}
/*FRONTBOX NEW END*/

a:link {
    color: #000000;
}

h1, h2, h3, h4 {
	text-align: center;
}

.bottlediv {
    width: 20%;
    height: inherit;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bottledivTitle {
    text-align: center;
    height: 20%;
    line-height: 2;
    font-family: "Forum";
    font-size: 18px;
}

.recommendBox {
    margin-left: 400px;
}



media="all" span.selected .flag {
position: absolute;
display: block;
background: url(http://www.glassful.com/skin/frontend/enterprise/glassful/images/checkbox-corner.png);
width: 79px;
height: 79px;
right: 7px;
top: 7px;
z-index: 9;
}