@font-face {
    font-family: MainLogoFont;
    src: url("../fonts/BadScript.ttf") format("opentype");
}

@font-face {
    font-family: ChooseFont;
    src: url("../fonts/Infinity.ttf") format("opentype");
}

@font-face {
    font-family: FrontBoxFont;
    src: url("../fonts/PoiretOne-Regular.ttf") format("opentype");
    color:black;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
   }
}


@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

#user {
    text-align: center; 
    font-size:16pt;
    margin-top:90px;
}

.imagerecipe {
    padding-left:0;
}

.MainLogo{
    font-family: MainLogoFont;
    font-weight: bold;
    color: #000000;
}

.ChooseHead{
    font-family: ChooseFont;
    font-weight: bold;
    color: #;
}

.jumbotron {
    position: relative;
    background: none;
    margin: 0px;
    padding:50px;
}

.jumbotron:after {
     content:"";
     background-image: url("../images/moodback.jpg");
     opacity: 0.7;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-repeat: no-repeat; 
     background-position: center;
     background-size: 100%;
     position: absolute;
     z-index: -1;   
}

.jumbotron p{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-size:15pt;
    hover: none;
}

.paddedTable td {
    padding: 5px;
}
.main {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
    line-height: 20pt;
    color: #000000;
}



.drinkbuddy {
    position: relative;
    background: none;
    margin: 10px;
    padding:10px;
}






td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
    -webkit-padding-end:10px;
}

.mixedbase{
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/orange-bliss.png');
    background-size:100% 100%;
    background-color: white;
}

.tequila {
    float:left;
    margin:0px;
    width:10px;
    height:20px;
    background:url('../images/romantic/tequiladrink.jpg');
    background-size:100% 100%;
}

/* End Hard coded boxes */

.loginbackground{
    background: url("../images/occasion/girlsnightout.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#red{
    color:#96281B;
}

body {
    background-color: #F8F5EC;
}

.moodbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}

.occasionbackground {
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: center;
}



.square-box{
    position: relative;
    float:center;
    display:inline-block;
    width: 144px;
    min-width:100%;
    height: 144px;
    min-height: 100%;
}

div.overlay {
    position:absolute;
    display:block;
    width: 95%;
    height: 95%;
    z-index: 100;
    background:url("../images/black_overlay.png"));
    opacity: 0.7;
    -moz-opacity:0.60;
    zoom:1;
    border-radius: 4px;
}

img.square-content{
    position:relative;
    z-index:-100;

}

div.square-content {
    position: relative;
    display:table;
    margin-left:-8px;
    margin-top:-8px;
    width: 136px;
    height: 136px;
    min-height:100%;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
	text-align: center;
}

p.mood-name{
    position:absolute;
    padding-top:40px;
    padding-left:5px;
    padding-right:10px;
    text-align: left;
    font-family: FrontBoxFont;
    font-size:16pt;
    z-index:1000;
    font-weight: 900;
}

.mood-container{
    padding: 20px 0;
}

.boxes {
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.white-container{
    height:20px;
    width:100%
    background:white;
    margin-bottom:2px;
}

div.fave_button{
    white-space: normal;
    padding-left:105px;
    font-family:FrontBoxFont;
}

.row-recommend{
    margin:0 auto;
    text-align: center;
}

.recommend-image{
    max-width:120px;
    max-height:120px;
}

.container-add{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

.container-footer{
    position:relative;
    width:100%;
    bottom:0;
    top:90%;
    background:#555555;
    height:60px;
    font-family: ChooseFont;
}

.container-ingredients{
    background:#C4C3D0;
    color:#777777;
    border-radius:20px;
    padding:10px;
    margin:8px;
}

.container-directions{
    background:#C4C3D0;
    color:#777777;
    border-radius:20px;
    padding:10px;
    margin:8px;
}

.container-recommend{
    padding-bottom:100px;
    background:#ededed;
    text-align:center;
}
/*.version_b{
    border-radius: 10px;
    background:  #F0F0F0; 
    padding: 5px; 
    margin: 2px;
}*/

.btn-custom {
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
  padding: 5px; 
  margin: 5px;
  width: 98%;
}